.content {
  display: flex;
}
.card {
  margin: 20px;
}

.navbar {
  font-size: 2rem;
  font-weight: 700;
}
img#avatar {
  padding: 0.7em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}
